<%- include('../cabecalho.ejs') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>partidas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
     <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1><i class="fas fa-futbol"></i> partidas</h1>
    <div class="container">
        <div class="add-button">
            <a href="/admin/partida/add"><i class="fas fa-user-plus icon"></i> Aumentar Elenco</a>
        </div>
    
       
        <table>
            <tr>
                <th><i class="fas fa-tshirt"></i> Nome</th>
                <th><i class="fas fa-landmark"></i></i> Estádio</th>
                <th> <i class="fas fa-trophy"></i></i> Classificação</th>
                <th> <i class="fas fa-trophy"></i></i> Data fundação</th>
                
                <th><i class="fas fa-tools"></i> Ações</th>
               
            </tr>
            <tr>
                <td>Gremio</td>
                <td>morumbii</td>
                <td>primeiro</td>
                <td>12/12/2006</td>
            
                <td>
                    <a href="/admin/partida/edt/:id"><i class="fas fa-edit icon"></i>melhorar</a>
                    <a href="/admin/partida/del/:id" class="delete-button"><i
                            class="fas fa-trash-alt icon"></i>Excluir</a>

                </td>
            </tr>
            <tr>
                <td>inter</td>
                <td>bento freitas</td>
                <td>segundo</td>
                <td>12/09/2004</td>
            
                </td>
                <td>
                    <a href="/admin/time/edt/:id"><i class="fas fa-edit icon"></i>melhorar</a>
                    <a href="/admin/time/del/:id" class="delete-button"><i
                            class="fas fa-trash-alt icon"></i>Excluir</a>
                  
                </td>
            </tr>
            
        </table>
    </div>
</body>

</html>